
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --nav-bg: #03000e;
  --main-clr: #5d9fef;
  --nav-shadow: -0.5px 6px #7bafefad;

  --primary: #efeada;
  --secondary: lightblue;
  --dark: #607d8b;
  --light: #f7f7f7;
  --shadow: 1px 0px 5px darkgray;
}
/* 

/* LOGIN */
#login {
  

    display: flexbox;
    justify-content:center;
    align-items: center;
    height: 100vh; /* Ajusta la altura */
    background-color: #3b94f334; /* Color de fondo que combina con el formulario */
  }
  
  
  #login form {
    
    width: 350px;
    height: auto;
    position: absolute;
    background-color: #5c5a5a35;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  #login h4{
    font-size: 22px;
    color: #000;
    text-align: center;
    padding: 20px;
  }
  
  .form-login {
    left: 50%;
    margin-bottom: 20px;
    gap: 10px;
    
  }
  
  .col-auto {
    padding: 10px;
    display: flexbox;
    gap: 20px;
    align-items: center;
  }
  
  .custom-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  .input-group-text {
    color: #aca7a7;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
  }
  
  .form-control {
    border-radius: 0 5px 5px 0;
    padding: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-check-input {
    margin-top: 8px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  } 